.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.footer {
  /* position: relative;fixed */
  position: relative;
width: 1920px;
height: 213px;
left: 0px;
bottom: 0px;

background: #000000;
}
.endereco{
  position: relative;
width: 238px;
height: 192px;
left: 280px;
bottom: -15px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 12px;
/* or 92% */


color: #851010;
}

