.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.cadastro{
  position: absolute;
width: 1920px;
height: 146px;
left: 0px;
bottom: 222px;

/* color-bg */

background: #F2F2F2;
}

.footer {
  /* position: relative;fixed */
  position: relative;
width: 1920px;
height: 213px;
left: 0px;
bottom: 0px;

background: #000000;
}
.titulo{
  position: absolute;
width: 238px;
height: 192px;
left: 280px;
bottom: -15px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 12px;
/* or 92% */


color: #fdfdfd;
}
.endereco{
  position: absolute;
width: 238px;
height: 72px;
left: 293px;
bottom: 37px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 12px;
/* or 92% */


color: #ffffff;

}
.form-button{
  position: absolute;
width: 195px;
height: 38x;
left: 868px;
bottom: 128px;
background: #FFFFFF;
border-radius: 5px;


}
.form-button1{
  position: absolute;
  width: 195px;
  height: 58px;
  left: 868px;
  bottom: 65px;
  
  background: #FFFFFF;
  border-radius: 5px;
}